/*******************************************

Universal Styling

********************************************/
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

header {
  background: #a7869e;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 99999;
}

header nav li {
  display: inline-block;
  max-width: 200px;
  vertical-align: middle;
  padding: 40px 0;
}

header nav a {
  text-decoration: none;
  color: white;
  margin: 0 20px;
  font-size: 20px;
  text-align: center;
}

header nav a:hover{
  background-color: #53546f;
}

header a img {
  position: absolute;
  left: 0;
  top: 0;
}

footer {
  background: white;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 15px;
  z-index: 10;
}

footer nav li {
  display: inline-block;
  max-width: 200px;
}

footer nav a {
  text-decoration: none;
  color: #48546f;
  margin: 0 20px;
  font-size: 16px;
  text-align: center;
}

main {
  background: white;
  margin: 0, auto;
  padding: 4rem;
}

h1,
h2,
p {
  color: #48546f;
  text-align: center;
}

h1 {
  font-size: 40px;
  padding: 20px;
  margin: 85px 0 10px;
}

h2 {
  font-size: 30px;
  padding-bottom: 10px;
  margin: 10px 0;
}

p {
  max-width: 650px;
  margin: 0 auto;
  padding-bottom: 20px;
  line-height: 150%;
  font-size: 16px;
}

.pseudo p::selection {
  background: #d3949f;
  color: lightgray;
}

.top-section {
  position: relative;
  top: 100px;
  text-align: center;
  color: #48546f;
  font-style: italic;
}

.button {
  position: relative;
  background: #48546f;
  color: white;
  padding: 15px;
  text-decoration: none;
  left: 50%;
  float: left;
  transform: translate(-50%, -50%);
  border: 1px solid;
  box-shadow: 5px 10px #d3949f;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.left-bar {
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  background-color: #d3949f;
  padding-top: 20px;
}
/*******************************************

Home Page Styling

********************************************/
img {
  display: block;
  margin: 0px auto;
}

div section img {
  margin-bottom: 30px;
}

section figcaption {
  font-family: 'Pacifico';
}

.bottom-section {
  margin: 50px 0;
  padding-bottom: 20px;
}

img.round {
  border-radius: 50%;
  padding-top: 40px;
}

.alex {
  filter: grayscale(0%);
}

.alex:hover {
  filter:grayscale(100%);
  transition: 2s;
}
/*******************************************

Experience Page Styling

********************************************/
.float-left {
  float: left;
  position: absolute;
  left: 300px;
}

.float-right {
  float: right;
  position: absolute;
  right: 300px;
}

.lds {
  max-width: 600px;
  padding-left: 20px;
  padding-bottom: 50px;
}

.ap {
  max-width: 600px;
  padding-right: 20px;
  padding-bottom: 50px;
}

.gs {
  max-width: 600px;
  padding-left: 20px;
  padding-bottom: 50px;
}

div ul li {
  text-align: center;
  line-height: 150%;
  font-family: 'Lato';
  font-size: 16px;
  color: #48546f;
}
/*******************************************

Portfolio Page Styling

********************************************/
section.gallery img {
  box-sizing: border-box;
  width: 400px;
  height: 400px;
  object-fit: contain;
  padding: 25px;
  display: inline;
  position: relative;
  float: left;
  left: 50px;
}
/*******************************************

Contact Page Styling

********************************************/
.contact-form {
  background: #a7869e;
  padding: 20px;
  max-width: 600px;
  border-radius: 4px;
  color: white;
  font-family: Lato;
  margin: 0 auto;
}

.label_input_wrap {
  display: block;
}

label {
  font-weight: bold;
}

.reset input,
.submit input {
  background: #d3949f;
  color: white;
  padding: 5px 20px;
  display: inline;
}

.reset,
.submit {
  display: inline;
}

.input-section {
  margin-bottom: 15px;
}

input {
  padding: 5px 10px;
  border-radius: 3px;
}

textarea {
  font-family: sans-serif;
  padding: 10px 10px;
  border-radius: 4px;
}

select {
  width: 185px;
  padding: 8px 0;
  border-radius: 4px;
}

.gmail {
  padding: 50px;
}

.message {
  position: absolute;
  top: 300px;
  left: 0px;
  animation: send 8s forwards infinite linear,
            jump 1s 1.2s ease;
}

@keyframes send {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(1800px);
  }
